@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');


.front-page{
    height: 100vh;
    /* background-color: rgb(26, 57, 107); */
    background-image: linear-gradient(29deg, rgba(2,6,15,1) 0%, rgba(23,54,121,1) 74%);
    width: 100%;
}


.link-bg{
    background-color:rgb(152, 159, 170);
    box-shadow: 0 0 2px rgb(201, 200, 200);
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(27, 46, 69);
    
}

.wrap-icon{
    display: block;
    padding: .75rem .5rem;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.wrap-left-nav{
    box-shadow: 0 0 3px black;
    background-color: rgb(44, 57, 94);
    
}

.nav-bg{
    background-color: #06132b;
    box-shadow: 0 2px 2px  rgb(16, 42, 86);
}

.rise-text{
    color:#172f5d;
}
.test{
    color: #e34949;
}

.user-contain{
    width: 70%;
}

.opt{
    background-color: #2c3d5c;
}

.wrap-nav{
    background-color: blanchedalmond;
}

.wrap-header{
    
}

.content-wrap{
    height: 75vh;
    box-shadow: 0 0 5px rgb(135, 186, 218);
    /* background-color: rgb(59, 101, 170); */
}

.wrap-form{
    /* border: 1px solid white; */
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 2px white; */
    margin-left: 10%;
    
}

.wrap-image > img{
    /* display: flex; */
    width: 20rem ;
    border-radius: 5px;

}

.wrap-image {
    border-right: 1px solid white;
    padding: 45px;
    padding-right: 60px;
}


